
__pycache__/
*.pyc
*.pyo
*.pyd


venv/
.env/
.venv/


.pytest_cache/
.mypy_cache/
.coverage
htmlcov/


*.zip
*.tar
*.log

.aws/
credentials
config


.vscode/
.idea/
.DS_Store


.ipynb_checkpoints/


dump.rdb


package/
dist/
build/